<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>获取变量值</h3>
    <ol>
        <li>{{uname}}</li>
        <li>{{person.sname}}</li>
        <li>{{clist[1]}}</li>
        <li>{{mdict['k2']}}</li>
        <li>{{mdict.get('k2')}}</li>
    </ol>
    {% for c in r(clist) %}
        {{c}}<br>
    {% end %}
    {% for k,v in mdict.items() %}
      {{k}}-----{{v}}<br/>
    {% end %}
    <br/>
     {{str}}
    <br/>
    {%raw str %}
<!--转义html标签-->
    </body>
</html>